.l-wrapper_06 {
    margin: 1rem auto;
    width: 50%;
}

.l-wrapper_06:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 34px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    transition: all .5s;
}

.card_06 {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
}

.card-img_06 {
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
    max-width:80%;
    height: auto;
}

.card-content_06 {
    padding: 8px 20px 20px;
}

.card-title_06 {
    font-size: 1.3em;
    color: #333;
    font-weight: 700;
}
.card-content_06 p {
    margin-bottom: 0;
}